# Versione: 1.0.0
# Data/Ora: 02/07/2026 10:26:03 (Ora di Roma)
# Descrizione: Revisione e inserimento dell'orario di modifica attuale di Roma e versione 1.0.0 in tutti i file.

node_modules/
.env
admin_db.json
leaderboard_data.json
uploads/
dist/
